<!DOCTYPE html>
<html>
  <head>
    <title>Kushtom</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <script> 
	$(document).ready(function (){
		$("button").click(function (){
			$('#1').slideUp();
		});
	});
  </script>
  <body>
  	<div>
  		<img class="Splash" src="../../assets/images/Kushtom-Logo.png">
  	</div>
  	<!-- Div for the Size Selection -->
  	<form>
  	<fieldset>	
  	<div id="1">
  		<div>
  			<h1 id="size-selector">Select Your Size</h1>
  		</div>
  		<button type="button">
  		<ul style="list-style-type: none">
  			<li><h2>Slim</h2></li>
  			<li>0.5g of fire</li>
  			<li>$8+</li>
  		</ul>
  	</button>
  	<button type="button" id="2">
  		<ul style="list-style-type: none">
  			<li><h2>Regular</h2></li>
  			<li>1.0g of fire</li>
  			<li>$8+</li>
  		</ul>
  	</button>
  	<button type="button">
  		<ul style="list-style-type: none">
  			<li><h2>King</h2></li>
  			<li>2g of fire</li>
  			<li>$8+</li>
  		</ul>
  	</button>	
  	</div>
  	<div class="Flower">
          <ul>
              <li>
				<img src="https://res.cloudinary.com/meadow/image/upload/c_fill,f_auto,h_640,q_80,w_640/wgkiostplbq9lkaurt3z.jpg">
              </li>
              <li>
              	<img src="https://res.cloudinary.com/meadow/image/upload/c_fill,f_auto,h_640,q_80,w_640/x9opqtluvvbelmoziytf.jpg">
              </li>
          	  </li>
          	  	<img src="https://res.cloudinary.com/meadow/image/upload/c_fill,f_auto,h_640,q_80,w_640/d8o6cuy5vfduuleow1ex.jpg">
          	  </li>
          	  <li>
          	  	<img src="">
          	  </li>
          	  <li>
          	  	<img src="">
          	  </li>
          	  <li>
          	  	<img src="">
          	  </li>
          	  <li>
          	  	<img src="">
          	  </li>
      </div>
      <div class="AddOns">
      	<fieldset>
      		<legend>Choose your Add Ons!</legend>
      		<div>
      			<input type="checkbox" id="hashish" name="hashish" value="hashish">
    			<label for="">hashish</label>
         	</div>
         	<div>
      			<input type="checkbox" id="hashish" name="hashish" value="hashish">
    			<label for="">hashish</label>
         	</div>
         	<div>
      			<input type="checkbox" id="hashish" name="hashish" value="hashish">
    			<label for="">hashish</label>
         	</div>
         	<div>
      			<input type="checkbox" id="hashish" name="hashish" value="hashish">
    			<label for="">hashish</label>
         	</div>

         </fieldset>
      </div>
      <div class="Quantity">
          	<legend>Select Quantity</legend>
          		<input type="radio" name="quantity" value=1> 1<br>
				<input type="radio" name="quantity" value=3> 3<br>
				<input type="radio" name="quantity" value=10> 10
      </div>
      <div class="Checkout">

     </div>
     <input type="submit" value="Submit">
 	</fieldset>
 	</form>
  </body>
</html>
