<!DOCTYPE html>
<html>
  <head>
    <title>Kushtom</title>
  </head>
  <body>
  	<div>
  		<img class="Splash" src="../../assets/images/Kushtom-Logo.png">
  	</div>
  	<!-- Div for the Size Selection -->
  	<div>
  		<div>
  			<h1 id="size-selector">Select Your Size</h1>
  		</div>
  		<ul style="list-style-type: none">
  			<li><h2>Slim</h2></li>
  			<li>0.5g of fire</li>
  			<li>$8+</li>
  		</ul>
  		<ul style="list-style-type: none">
  			<li><h2>Regular</h2></li>
  			<li>1.0g of fire</li>
  			<li>$8+</li>
  		</ul>
  		<ul style="list-style-type: none">
  			<li><h2>King</h2></li>
  			<li>2g of fire</li>
  			<li>$8+</li>
  		</ul>	
  	</div>
  	<div class="Flower">
          <ul>
              <li>
				<img src="https://res.cloudinary.com/meadow/image/upload/c_fill,f_auto,h_640,q_80,w_640/wgkiostplbq9lkaurt3z.jpg">
              </li>
              <li>
              	<img src="https://res.cloudinary.com/meadow/image/upload/c_fill,f_auto,h_640,q_80,w_640/x9opqtluvvbelmoziytf.jpg">
              </li>
          	  </li>
          	  	<img src="https://res.cloudinary.com/meadow/image/upload/c_fill,f_auto,h_640,q_80,w_640/d8o6cuy5vfduuleow1ex.jpg">
          	  </li>
          	  <li>
          	  	<img src="">
          	  </li>
          	  <li>
          	  	<img src="">
          	  </li>
          	  <li>
          	  	<img src="">
          	  </li>
          	  <li>
          	  	<img src="">
          	  </li>
      </div>
      <div class="AddOns">
      	<fieldset>
      		<legend>Choose your Add Ons!</legend>
      		<div>
      			<input type="checkbox" id="hashish" name="hashish" value="hashish">
    			<label for="">hashish</label>
         	</div>
         	<div>
      			<input type="checkbox" id="hashish" name="hashish" value="hashish">
    			<label for="">hashish</label>
         	</div>
         	<div>
      			<input type="checkbox" id="hashish" name="hashish" value="hashish">
    			<label for="">hashish</label>
         	</div>
         	<div>
      			<input type="checkbox" id="hashish" name="hashish" value="hashish">
    			<label for="">hashish</label>
         	</div>

         </fieldset>
      </div>
      <div class="Quantity">
          <fieldset>
          	<legend>Select Quantity</legend>
          		<input type="radio" name="gender" value="male"> 1<br>
				<input type="radio" name="gender" value="female"> 3<br>
				<input type="radio" name="gender" value="other"> 10
          </fieldset>
      </div>
      <div class="Checkout">

     </div>
  </body>
</html>
<!--   	<div class="Flower">
  		<ul>
  			<li>
  				<div class="flower-item-image" style="background-image: ">
  				</div>
  			</li>
  			<li>
  				<div class="flower-item-image" style="background-image: ">
  				</div>
  			</li>
  	</div> 
  	<div class="AddOn">
  	</div>
  	<div class="Quantity">
  		<p> placeholder text </p>
  	</div>
  	<div class="Checkout">
  		
  	</div>
  </body>
</html> -->